<?xml version="1.0"?>

<launch>
<!--  <include file="$(find jaco2_moveit_config)/launch/moveit_full.launch">
    <arg name="joint_state_topic" value="/jaco_22_driver/out/joint_states"/>
    <arg name="controller_in" value="jaco_22" />
  </include>-->

  <node pkg="jaco2_simple_moveit_apps" type="jaco2_cartesian_transformation" name="jaco_22_cartesian">
    <remap from="/joint_states" to="/jaco_22_driver/out/joint_states"/>
  </node>
</launch>
           
