<?xml version="1.0" ?>
<launch>
    <node pkg="tf" type="static_transform_publisher" name="tf_acc_1_bc" args="0.00714 0.00071 -0.0271 3.141592654 0 0 /jaco_link_1 /jaco_accelerometer_1 100" />
    <node pkg="tf" type="static_transform_publisher" name="tf_acc_2_bc" args="0.00714 0.00071 -0.0271 3.141592654 0 0  /jaco_link_2 /jaco_accelerometer_2 100" />
    <node pkg="tf" type="static_transform_publisher" name="tf_acc_3_bc" args="0.00714 0.00071 -0.0271 3.141592654 0 0  /jaco_link_3 /jaco_accelerometer_3 100" />
    <node pkg="tf" type="static_transform_publisher" name="tf_acc_4_bc" args="0.00714 0.00071 -0.0271 3.141592654 0 0  /jaco_link_4 /jaco_accelerometer_4 100" />
    <node pkg="tf" type="static_transform_publisher" name="tf_acc_5_bc" args="0.00714 0.00071 -0.0271 3.141592654 0 0  /jaco_link_5 /jaco_accelerometer_5 100" />
    <node pkg="tf" type="static_transform_publisher" name="tf_acc_6_bc" args="0.00714 0.00071 -0.0271 3.141592654 0 0  /jaco_link_hand /jaco_accelerometer_6 100" />
</launch>
